<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Money Converter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #formConverter = "ngForm">

    <ion-item> 
      <ion-label>Dollar quote:</ion-label>
      <ion-input name="dolar_quote" ngModel></ion-input>
      <ion-button (click)="dolar_search(formConverter)">Search</ion-button>
    </ion-item>
    
    <ion-item> 
      <ion-label>Euro quote:</ion-label>
      <ion-input name="euro_quote" ngModel></ion-input>
      <ion-button (click)="euro_search(formConverter)">Search</ion-button>
    </ion-item>

    <ion-item> 
      <ion-label>Real value:</ion-label>
      <ion-input name="real_value" ngModel></ion-input>
    </ion-item>

    <ion-button (click)="dolar_converter(formConverter)">Dolar converter</ion-button>

    <ion-button (click)="euro_converter(formConverter)">Euro converter</ion-button>

    <ion-item>
      <ion-label>Dolar value: </ion-label>
      <ion-input value="{{dolar_value}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Euro value:</ion-label>
      <ion-input value="{{euro_value}}"></ion-input>
    </ion-item>
    
    <ion-button (click)="clean_button(formConverter)">Clean results</ion-button>

  </form>
</ion-content>
