<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Money Converter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #formConverter = "ngForm">

    <h1>Money Converter from real to Dollar and Euro</h1>

    <ion-item> 
      <ion-label>Dollar quote:</ion-label>
      <ion-input name="dolar_quote" ngModel placeholder="Insert"></ion-input>
      <a target ="_blank" href = "https://www.google.com/finance/quote/USD-BRL?sa=X&ved=2ahUKEwi_y6jnxor6AhVLqpUCHR8bDE8QmY0JegQIAhAb">Search</a>
    </ion-item>

    <ion-item> 
      <ion-label>Euro quote:</ion-label>
      <ion-input name="euro_quote" ngModel></ion-input>
      <a target ="_blank" href = "https://www.google.com/finance/quote/EUR-BRL?sa=X&ved=2ahUKEwisl5Whx4r6AhWvhJUCHT2FDngQmY0JegQIAhAb">Search</a>
    </ion-item>

    <ion-item> 
      <ion-label>Real value:</ion-label>
      <ion-input name="real_value" ngModel></ion-input>
    </ion-item>

    <ion-button (click)="converter(formConverter)">To convert</ion-button>

    <ion-item>
      <ion-label>Dolar value: </ion-label>
      <ion-input value="{{dolar_value}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Euro value:</ion-label>
      <ion-input value="{{euro_value}}"></ion-input>
    </ion-item>
    
    <ion-button (click)="clean_button(formConverter)">Clean results</ion-button>

  </form>
</ion-content>
